/* Catppuccin Mocha */
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

@-moz-document url-prefix("about:") {
  body {
    background: transparent !important;
  }
}

@-moz-document regexp(".*\\.pdf($|\\?.*)") {
  :root {
    color-scheme: dark !important;
  }
}

@-moz-document url("about:newtab"), url("about:home") {
  body {
    --newtab-background-color-secondary: transparent !important;
  }

  .personalizeButtonWrapper,
  .logo-and-wordmark,
  #searchSuggestionTable {
    display: none !important;
  }

  .non-collapsible-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh
  }

  .search-inner-wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(245, 194, 231, 0.6);
  }
}

@-moz-document domain("facebook.com") {
  .__fb-dark-mode {
    --base-cherry: var(--red) !important;
    --base-grape: var(--mauve) !important;
    --base-lemon: var(--peach) !important;
    --base-lime: var(--green) !important;
    --base-pink: var(--pink) !important;
    --base-teal: var(--teal) !important;
    --blue-link: var(--blue) !important;
    --card-background: var(--surface0) !important;
    --card-background-flat: var(--mantle) !important;
    --comment-background: var(--surface1) !important;
    --comment-threading-lines: var(--surface2) !important;
    --event-date: var(--red) !important;
    --fb-logo: var(--blue) !important;
    --last-active-state-background: var(--surface1) !important;
    --last-active-state-text: var(--green) !important;
    --nav-bar-background: var(--base) !important;
    --negative: var(--maroon) !important;
    --notification-badge: var(--red) !important;
    --positive: var(--green) !important;
    --primary-button-background: var(--blue) !important;
    --primary-deemphasized-button-icon: var(--blue) !important;
    --primary-deemphasized-button-text: var(--blue) !important;
    --progress-ring-blue-foreground: var(--blue) !important;
    --reaction-anger: var(--red) !important;
    --reaction-haha: var(--peach) !important;
    --reaction-like: var(--blue) !important;
    --reaction-love: var(--red) !important;
    --reaction-sorry: var(--peach) !important;
    --reaction-support: var(--peach) !important;
    --reaction-wow: var(--peach) !important;
    --secondary-button-background-floating: var(--surface0) !important;
    --story-unseen: var(--blue) !important;
    --surface-background: var(--surface0) !important;
    --text-input-active-text: var(--blue) !important;
    --toggle-active-background: var(--blue) !important;
    --wash: var(--crust) !important;
    --web-wash: transparent !important;
  }
}
