:root {
  --toolbarbutton-icon-fill: #F5C2E7 !important;
  --toolbarbutton-icon-fill-attention: #F5C2E7 !important;
}

.titlebar-buttonbox-container,
#alltabs-button {
  display: none;
}

#browser,
#main-window {
  background: none !important;
}

#tabbrowser-tabpanels {
  background: rgba(32, 32, 50, 0.8) !important;
}

#navigator-toolbox {
  background: rgba(24, 24, 37, 0.6) !important;
}

#sidebar-main {
  background: rgba(17, 17, 27, 0.7) !important;
}

#urlbar-background {
  border-radius: 16px !important;
}

#urlbar-searchmode-switcher {
  background: none !important;
}
