@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css");
/* @import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-pink.theme.css"); */
@import url("https://cxntered.github.io/discord/dist/catppuccin-mocha-pink.theme.css");

/*
 * Don't cover server list with panel/Revert user panel area
 * https://discord.com/channels/1015060230222131221/1028106818368589824/1354331484831354952
 */
[aria-label="User area"] {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: content-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }

  >[class^="wrapper_"]>[class^="container_"] {
    padding-top: 1em !important;
  }
}

nav[aria-label="Servers sidebar"] {
  margin-bottom: 0 !important;
}


/* Remove notification badge in Discord logo */
[class^="tutorialContainer_"] [class^="listItemWrapper_"]>[class^="wrapper_"] {
  >svg>foreignObject {
    mask: none;
    border-radius: 1rem;
  }

  [class^="lowerBadge_"] {
    display: none;
  }
}

/* DM list tweaks */
ul[aria-label="Direct Messages"] {
  display: grid;
  margin-top: -32px;
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));

  /* Remove Play Again */
  >div:has(h2) {
    display: none;
  }

  >li {

    /* Remove useless shit */
    &:has(a[href="/store"]) {
      display: none;
    }

    &:has(a[href="/shop"]),
    &:has(a[href="/quest-home"]),
    &:has(a[href="/message-requests"]) {
      order: 0;
    }

    order: 1;

    /* Pin Aya's DM <3 */
    &:has(div[aria-label^="aya"]) {
      order: 0;

      div[class*="name"] {
        color: #ff66ab;
      }
    }
  }
}

/* Pin Aya in friend list */
[class*="peopleColumn"]>[class*="peopleList"] > div {
  display: grid;

  [class*="peopleListItem"] {
    order: 1;

    &:has(div[aria-label^="aya"]) {
      order: 0;

      span[class$="username"] {
        color: #ff66ab;
      }
    }
  }
}

/* Remove shit in message bar */
[aria-label="Send a gift"],
[class^="channelAppLauncher_"] {
  display: none !important;
}


/* Remove help button in top bar */
a:has([aria-label="Help"]) {
  display: none;
}

/* Smaller VC indicator */
[aria-label="Members"],
ul[aria-label="Direct Messages"] {
  .vc-platform-indicator {
    flex-direction: column;
    margin-left: 0px !important;

    >img {
      height: 12px;
    }
  }
}

/* Remove quick react bar */
span:has([aria-label*="Click to react with"])  {
  ~ [class^="separator_"] {
    display: none;
  }
  display: none;
}


/* Remove activity in member list */
[class*="membersGroup"]:has([role=button]),
[class*="member"] [class*="container"]:has([class*="badges"]) {
  display: none;
}

/* Channel list tweaks */
ul[aria-label="Channels"] {
  >[class^="sectionDivider_"] {
    display: none;
  }

  >li:has(h3) {
    position: relative;
    margin-top: 16px;
    border-top: 1px solid #3b3d44;
    margin-left: 8px;
    padding-top: 16px;

    h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      font-size: 1rem;
      font-weight: 700;
      max-width: 19ch;
      color: white;
    }

    svg[class^=icon] {
      width: 16px;
      height: 16px;
      top: 4px;
    }
  }
}

/* Center server name */
[class^="headerContent"] {
  h2 {
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 700;
  }
}

/* move stuffs in toolbar to right */
section[aria-label="Channel header"],
[aria-label="Friends"]>section {
  padding-right: 2em !important;
}

[class^="topControls_"] [class^="subtitleContainer_"] {
  padding-right: 0 !important;

  section {
    padding-right: 2em !important;
  }
}
