@import "catppuccin-mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#waybar {
  background: transparent;
}

tooltip,
menu,
#window,
#clock,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#temperature,
#custom-hwmonitor,
#custom-archlaunch,
#custom-wlogout {
  background: rgba(30, 30, 46, 0.7);
  /* background: @base; */
  padding: 0px 10px;
  margin-top: 10px;
}

#window {
  border-radius: 10px;
  color: @pink;
}

#workspaces {
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  padding: 0;
}

#workspaces button {
  padding: 5px 10px;
  border-radius: 10px;
  color: @surface0;
}

#workspaces button.active {
  color: @pink;
}

#workspaces button.focused {
  color: #9399B2;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: @green;
}

#workspaces button:hover {
  color: @pink;
}

#tray {
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
}

#custom-archlaunch {
  border-radius: 10px;
  margin: 10px 5px 0 20px;
  padding: 0 16px 0 13px;
  color: @pink;
}

#clock {
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  color: @pink;
}

#network {
  border-radius: 10px 0px 0px 10px;
  color: @yellow;
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.microphone {
  border-radius: 0px 10px 10px 0px;
  margin: 10px 5px 0 0;
  color: @mauve;
}

#cpu {
  border-radius: 10px 0 0 10px;
  color: @lavender;
}

#temperature.cpu {
  color: @lavender;
}

#memory {
  padding-left: 30px;
  color: @lavender;
}

#custom-hwmonitor {
  border-radius: 10px;
  padding: 0 20px;
  color: @lavender;
}

#custom-wlogout {
  border-radius: 10px;
  margin: 10px 20px 0 5px;
  padding: 0 16px 0 16px;
  color: @red;
}
