@theme "catppuccin"

configuration {
    modes: "drun,calc,emoji";
	font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    display-drun: " ";
    display-calc: " ";
    display-emoji: "󰋑 ";
}
