/* https://github.com/catppuccin/wlogout/blob/main/themes/mocha/pink.css */
* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.90);
}

button {
  border-radius: 0;
  border-color: #f5c2e7;
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: #181825;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgb(48, 50, 66);
  outline-style: none;
}

#lock {
  border-radius: 10px 0 0 0;
  background-image: url("./icons/lock.svg");
}

#logout {
  background-image: url("./icons/logout.svg");
}

#suspend {
  border-radius: 0 10px 0 0;
  background-image: url("./icons/suspend.svg");
}

#hibernate {
  border-radius: 0 0 0 10px;
  background-image: url("./icons/hibernate.svg");
}

#shutdown {
  background-image: url("./icons/shutdown.svg");
}

#reboot {
  border-radius: 0 0 10px 0;
  background-image: url("./icons/reboot.svg");
}
